body{
    background-color: black;
    color: azure;
}

.un{

    display: flex;
    
  
}

.flex{
    display: flex;
}

.justify-center{
justify-content: center;
}

.items-center{
    align-items: center;
}

.colonne{

    flex-direction: column;
}
.w-50{
    width: 50%;
}
.m3{
   margin: 1rem;
}